@page
@model BirdClinicSystems.Pages.BirdManagement.CreateModel
@{
}
<h1>Create</h1>

<h4>Bird</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bird.Name" class="control-label"></label>
                <input asp-for="Bird.Name" class="form-control" />
                <span asp-validation-for="Bird.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bird.Birthday" class="control-label"></label>
                <input asp-for="Bird.Birthday" class="form-control" />
                <span asp-validation-for="Bird.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bird.Description" class="control-label"></label>
                <input asp-for="Bird.Description" class="form-control" />
                <span asp-validation-for="Bird.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bird.Image" class="control-label"></label>
                <input asp-for="Bird.Image" class="form-control" />
                <span asp-validation-for="Bird.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bird.Height" class="control-label"></label>
                <input asp-for="Bird.Height" class="form-control" />
                <span asp-validation-for="Bird.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bird.Weight" class="control-label"></label>
                <input asp-for="Bird.Weight" class="form-control" />
                <span asp-validation-for="Bird.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bird.UserID" class="control-label"></label>
                <input asp-for="Bird.UserID" class="form-control" />
                @*<select asp-for="Bird.UserId" class="form-control" asp-items="ViewBag.UserID"></select>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>